<h1> Create a Figure </h1>

<form action='/figures' method='post'>
<lable>Name</label>
<input type='text' name='figure[name]' id='figure_name'> <br></br>

<h4>Titles</h4>
<% Title.all.each do |title| %> 
<label><%= title.name %></label>
<input type='checkbox' id="title_<%=title.id%>" name='figure[title_ids][]' value='<%= title.id %>'><br>
<% end %>

<h4>Or Create a new Title</h4>
<input type='text' id='new_title' name='title[name]'>

<h4>Landmarks</h4>
<% Landmark.all.each do |landmark| %> 
<label><%=landmark.name%></label>
<input type='checkbox' id="landmark_<%=landmark.id%>"name='figure[landmark_ids][]' value='<%= landmark.id %>'><br>
<% end %>

<h4>Or Create a new Landmark</h4>
<input type='text' id='new_landmark' name='landmark[name]' >

<input type='submit' value ='Create New Figure'>
</form>